:root{
    --main-color: #c90000;
    --label-color: #a3a3a3;
    --main-font: Lato,"Helvetica Neue",Arial,Helvetica,sans-serif;
    --page-height: 100vh;
    --navbar-height: 9vh;
    --font-color: white;
}

body {
    height: 100vh;
    background-color: black;
}

.section {
    height: 100vh;
    background-color: black;

}


.navbar {
    background-color: transparent;
    border: 0;
}

.navbar-brand {
    font-size: 30px;
    color: white !important;
    /*text-decoration: overline !important;*/
}

.navbar-nav li a {
    color: white !important;
}
.navbar-nav li.active  a {
    font-weight: bolder;
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    #menu {
        background-color: rgba(19,24,17);
        width: 50%;
        float: right;
        border: 1px solid darkgrey;
    }

    a.item {
        font-size: 12px;
    }

}

.bucket {
    position: relative;
    top: 35%;
}

.pills {
    top: 15%;
}

mark {
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: white !important;
}

h2, label, p {
    color: var(--font-color);
}

.segment.secondary * {
    color: black !important;
}

.segment h2 {
    font-size: 15px;
}

.segments > .secondary.segment {
    opacity: 0.7;
}

.segments > .segment:not(.secondary) {
    background-color: grey;
}

#first-section {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/recife.png");
    background-size: cover;
    background-position: center;
    background-origin: border-box;
}

#second-section {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/londres1.jpg");
    background-size: cover;
    background-position: center;
    background-origin: border-box;
}

#second-section > .bucket {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}


#third-section {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/sampa.png");
    background-size: cover;
    background-position: center;
    background-origin: border-box;
}

#third-section > .bucket {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}



footer {
    color: white;
}

#slogan {
    display: table;
}

#slogan > div {
    display: table-row;
}

#slogan h1, #slogan h3 {
    display: table-cell;
}

#slogan h1 {
    font-size: 60px;
}

input, textarea {
    border-radius: 0 !important;
}

input, textarea {
    background-color: rgba(130,133,124,0.15) !important;
    color: white !important;
}



#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 10px solid black;
  border-radius: 50%;
  border-top: 10px solid white;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
    background-color: rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}


/*#slogan, #slogan h1 mark {*/
    /*font-size: 17px;*/
    /*color: var(--font-color);*/
    /*font-family: var(--main-font) !important;*/
/*}*/

/*@import url('https://fonts.googleapis.com/css?family=Londrina+Solid:300,400|Open+Sans');*/
/*@font-face {*/
  /*font-family: "PTSansRegular";*/
  /*src: url("../fonts/PT_Sans-Web-Regular.ttf");*/
/*}*/




/*#brand {*/
    /*color: white;*/
    /*font-size: 4.1vh;*/
    /*font-weight: bolder;*/
    /*min-font-size: 15px;*/
/*}*/
/*#brand > strong {min-font-size: 15px; font-size: 4.5vh; }*/
/*#brand  strong:hover { font-size: 4.7vh;}*/


/*.navbar-header { margin-top: 1.5vh; }*/
/*.navbar-header, .navbar-header * {*/
    /*font-weight: bolder;*/
    /*font-size: 45px;*/
    /*color: white !important;*/
/*}*/

/*.navbar {*/
    /*background-color: var(--main-color);*/
    /*height: var(--navbar-height);*/
/*}*/


/*.nav-pills > li > a {*/
    /*background-color: var(--main-color);*/
/*}*/

/*.nav-pills > li > a:hover, .nav-pills > li > a:focus {*/
    /*background-color: var(--main-color) !important;*/
    /*color: white;*/
/*}*/

/*li.dropdown > a {*/
    /*color: white;*/
/*}*/

/*.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .nav > li > a:focus, .nav > li > a:hover {*/
    /*background-color: #122740;*/
/*}*/

/*.blink {*/
    /*background-color: black;*/
    /*animation: blinker 1s linear infinite;*/
    /*font-family: Arial, Sans-Serif, serif !important;*/
/*}*/

/*@keyframes blinker {*/
  /*70% { opacity: 0; }*/
/*}*/

/*.alert {*/
    /*border-radius: 0;*/
/*}*/




/*.form-control, .well, pre {*/
    /*color: black !important;*/
    /*border: 0 !important;*/
/*}*/

/*.btn {*/
    /*background-color: #fe9800;*/
    /*border-color: #fe9800;*/
    /*font-weight: bolder;*/
    /*font-size: 20px;*/
    /*color: white !important;*/
/*}*/

/*.btn:hover {*/
    /*background-color: #b76f00;*/
/*}*/

/*#json-editor {*/
    /*height: 200px;*/
    /*width: 100%;*/
/*}*/


/*.header-tsi:before {*/
  /*content: ' ';*/
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  /*height: 100%;*/
/*}*/

/*!* TEMPEST LOGO *!*/
/*.header-tsi {*/
    /*background: #4b4b4b no-repeat;*/
    /*height: 101%;*/
  /*display: table-cell;*/
  /*vertical-align: middle;*/
  /*text-align: center;*/
  /*transform: skew(10deg);*/
  /*position: absolute;*/
  /*margin-right: -10px;*/
  /*right: 0;*/
  /*top: 0;*/
  /*width: 170px;*/
  /*border-left: 10px solid white;*/
  /*!*border-bottom: 10px solid #43bc9f;*!*/
/*}*/

/*.header-tsi i {*/
  /*font-size: 50px;*/
  /*font-weight: bolder;*/
  /*margin-top: 0;*/
  /*transform: skew(-10deg);*/
/*}*/

/*.header-tsi a {*/
  /*text-decoration: none;*/
  /*color: white;*/
/*}*/

/*.header-tsi img {*/
    /*height: 90%;*/
/*}*/


/*#content {*/
    /*margin-top: 120px;*/
/*}*/